.logo{
  background-image: url("https://github.com/First-Capital-Web-Design/FCRE-site-update/blob/gh-pages/images/logo-big-background.png?raw=true") !important;
  background-size: 100% 100%;
  background-position: center;
  display: inline;
  width: 140px;
  height: 54.5px;
  -webkit-transition: height 2s, width 2s;
}
.rd-navbar-static .rd-navbar-nav {
  margin-left: calc(50% - 215px);
  /*margin-top: 50px;*/
  padding: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid orange;
}

.rd-navbar-index.rd-navbar-static .rd-navbar-inner, .rd-navbar-index.rd-navbar-fullwidth .rd-navbar-inner{
  padding-top: 8px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  background-color: #d9d9d9 !important;
  height: 70px;
  padding-top: 20px;
}

.rd-navbar-inner{
  background-color: #d9d9d9 !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  z-index: 2;
}



.rd-navbar-fixed{
  position: fixed !important;
  top: 0;
  left: 0;
}

.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-inner, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-inner, .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-inner, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-inner{
  padding-top: 8px;
}

.rd-navbar-static .rd-navbar-inner, .rd-navbar-fullwidth .rd-navbar-inner{
  max-width: none;
}

.rd-navbar-inner{
  width: 100vw;
}



.page-header {
  box-shadow: 1px 1px 4px #546e7a, 70px 0 400px -60px #546e7a inset, -70px 0 400px -60px #546e7a inset;
}

/*.logo_small{
  background-image: url("https://github.com/First-Capital-Web-Design/FCRE-site-update/blob/gh-pages/images/logo-big-background.png?raw=true") !important;
  background-size: 100% 100%;
  background-position: center;
  display: none;
  width: 280px;
  height: 109px;
}*/

.logo_mobile{
  background-image: url("https://github.com/First-Capital-Web-Design/FCRE-site-update/blob/gh-pages/images/logo-big-background.png?raw=true") !important;
  background-size: 100% 100%;
  background-position: center;
  display: none;
  width: 280px !important;
  height: 109px;
  margin-left: calc(50% - 140px);
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .logo{
    width: 280px;
    height: 109px;
    margin-bottom: 200px;
  }
  .rd-navbar-fullwidth .rd-navbar-nav-wrap{
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .logo_mobile{
    display: block;
  }
}
@media (min-width: 1200px) {
  .logo_scrolled{
    width: 140px;
    height: 54.5px;
  }

.rd-navbar-static{
  height: 70px;
}

  .nav_static_change{
    box-shadow: 1px 1px 4px #546e7a, -70px 0 400px -60px #546e7a inset, 70px 0 400px -60px #546e7a inset !important;
    background-color: #d9d9d9;/*important-tag*/
    height: 70px;
    -webkit-transition: height 2s;
    padding: 0px !important;
  }
  .nav_change{
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
  }
}
